<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edx.dao.PredictionMapper" >
  <resultMap id="BaseResultMap" type="com.edx.pojo.Prediction" >
    <constructor >
      <idArg column="uid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <idArg column="cid" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="identify" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="certified" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="location" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="learner_level" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="age" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="grade" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="interaction" jdbcType="DOUBLE" javaType="java.lang.Double" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    uid, cid, identify, certified, location, learner_level, age, gender, grade, interaction
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.edx.pojo.PredictionKey" >
    select 
    <include refid="Base_Column_List" />
    from prediction
    where uid = #{uid,jdbcType=VARCHAR}
      and cid = #{cid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.edx.pojo.PredictionKey" >
    delete from prediction
    where uid = #{uid,jdbcType=VARCHAR}
      and cid = #{cid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.edx.pojo.Prediction" >
    insert into prediction (uid, cid, identify, 
      certified, location, learner_level, 
      age, gender, grade, 
      interaction)
    values (#{uid,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{identify,jdbcType=VARCHAR}, 
      #{certified,jdbcType=VARCHAR}, #{location,jdbcType=VARCHAR}, #{learnerLevel,jdbcType=VARCHAR}, 
      #{age,jdbcType=VARCHAR}, #{gender,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, 
      #{interaction,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.edx.pojo.Prediction" >
    insert into prediction
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="identify != null" >
        identify,
      </if>
      <if test="certified != null" >
        certified,
      </if>
      <if test="location != null" >
        location,
      </if>
      <if test="learnerLevel != null" >
        learner_level,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="interaction != null" >
        interaction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=VARCHAR},
      </if>
      <if test="identify != null" >
        #{identify,jdbcType=VARCHAR},
      </if>
      <if test="certified != null" >
        #{certified,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        #{location,jdbcType=VARCHAR},
      </if>
      <if test="learnerLevel != null" >
        #{learnerLevel,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="interaction != null" >
        #{interaction,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edx.pojo.Prediction" >
    update prediction
    <set >
      <if test="identify != null" >
        identify = #{identify,jdbcType=VARCHAR},
      </if>
      <if test="certified != null" >
        certified = #{certified,jdbcType=VARCHAR},
      </if>
      <if test="location != null" >
        location = #{location,jdbcType=VARCHAR},
      </if>
      <if test="learnerLevel != null" >
        learner_level = #{learnerLevel,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="interaction != null" >
        interaction = #{interaction,jdbcType=DOUBLE},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
      and cid = #{cid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edx.pojo.Prediction" >
    update prediction
    set identify = #{identify,jdbcType=VARCHAR},
      certified = #{certified,jdbcType=VARCHAR},
      location = #{location,jdbcType=VARCHAR},
      learner_level = #{learnerLevel,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      interaction = #{interaction,jdbcType=DOUBLE}
    where uid = #{uid,jdbcType=VARCHAR}
      and cid = #{cid,jdbcType=VARCHAR}
  </update>
</mapper>